<div class="wrapper">
  <div class="brand-group" routerLink="/">
    <img src="../../../assets/icons/menu.png" alt="" class="menu link" />
    <img src="../../../assets/images/logo.png" alt="" class="logo link" />
    <div class="brand-name link">Shopping Store</div>
  </div>

  <div class="search-group">
    <input type="search" class="search-input" placeholder="Search" />
    <div class="search-icon-wrapper link">
      <img src="../../../assets/icons/search.png" alt="" class="search-icon" />
    </div>
  </div>

  <div class="user-group">
    <img src="../../../assets/icons/user.png" alt="" class="user-icon link" />
    <div class="cart" routerLink="/cart">
      <img src="../../../assets/icons/cart.png" alt="" class="cart-icon link" />
      <span class="cart-count">{{ count() }}</span>
      <span class="cart-total">${{ total() | number : "1.2-2" }}</span>
    </div>
  </div>
</div>
<div class="mobile-wrapper">
  <div class="search-group mobile">
    <input type="search" class="search-input" placeholder="Search" />
    <div class="search-icon-wrapper link">
      <img src="assets/icons/search.png" alt="" class="search-icon" />
    </div>
  </div>
</div>
